In [36]:
import requests
import pandas as pd
import json
# from config import Cfg as cfg

In [43]:
df_races = pd.read_csv('./../data/geo-data/races_lat_lon.csv')
df_races.head()

               race        lat         lon
0       alagoas70.3  -9.661669  -35.701667
1           arizona  33.433518 -111.937962
2       Arizona70.3  33.432270 -111.932982
3        astana70.3  51.125358   71.453152
4  atlanticcity70.3  39.350119  -74.449387

In [38]:
races_metropolitan_area = {}
    
for race in df_races.race:
    lat = df_races.loc[df_races.race == race, 'lat'].values[0]
    lng = df_races.loc[df_races.race == race, 'lon'].values[0]
    races_metropolitan_area[race] = {'lat': lat, 'lng': lng}
    
    # geocitiesdb API
    lat_str = f'+{lat}' if lat > 0 else f'{lat}'
    lng_str = f'+{lng}' if lng > 0 else f'{lng}'
    minPopulation = 300000
    radius = 100
    unit = 'MI'
    
    requestString = f'http://geodb-free-service.wirefreethought.com/v1/geo/locations/{lat_str}{lng_str}/nearbyCities?limit=10&offset=0&minPopulation={minPopulation}&radius={radius}&distanceUnit={unit}'

    r = requests.get(requestString)
    response = r.json()
    
    races_metropolitan_area[race]['totalCount'] = response['metadata']['totalCount']
    races_metropolitan_area[race]['data'] = response['data']

    # get city details
    for city in races_metropolitan_area[race]['data']:
        cityId = city['id']
        url_city = f'http://geodb-free-service.wirefreethought.com/v1/geo/cities/{cityId}'
        r = requests.get(url_city)
        city.update(r.json()['data'])

# save data
with open(f'./../data/geo-data/races-metropolitan-area.json', 'w') as f:
    f.write(json.dumps(races_metropolitan_area))

In [42]:
[d['totalCount'] for d in races_metropolitan_area.values()]

[1,
 5,
 5,
 1,
 23,
 1,
 0,
 2,
 4,
 2,
 13,
 5,
 5,
 0,
 5,
 8,
 8,
 2,
 17,
 0,
 0,
 0,
 0,
 1,
 11,
 1,
 2,
 2,
 1,
 4,
 1,
 11,
 3,
 4,
 1,
 13,
 3,
 1,
 0,
 1,
 15,
 6,
 3,
 9,
 13,
 0,
 9,
 18,
 1,
 2,
 0,
 12,
 1,
 8,
 10,
 3,
 1,
 13,
 0,
 4,
 0,
 0,
 0,
 27,
 9,
 12,
 29,
 2,
 2,
 0,
 23,
 12,
 4,
 2,
 2,
 2,
 1,
 1,
 2,
 5,
 6,
 0,
 0,
 3,
 8,
 19,
 6,
 2,
 2,
 10,
 2,
 14,
 5,
 6,
 4,
 4,
 6,
 2,
 4,
 0,
 0,
 8,
 1,
 7,
 1,
 0,
 2,
 11,
 0,
 0,
 6,
 1,
 6,
 7,
 4,
 6,
 0,
 13,
 13,
 13,
 11,
 5,
 3,
 3,
 0,
 43,
 9,
 0,
 27,
 5,
 8,
 7,
 9,
 3,
 2,
 9,
 9,
 2,
 0,
 5,
 1,
 4,
 38,
 1,
 8,
 8,
 4,
 1,
 4,
 9,
 8,
 0,
 0,
 14,
 7,
 7,
 0,
 3,
 3,
 3]

In [40]:
for race in races_metropolitan_area:
    if races_metropolitan_area[race]['totalCount']>=5:
        print('-->', race)
    elif races_metropolitan_area[race]['totalCount']==0:
        print('##', race)

--> arizona
--> Arizona70.3
--> atlanticcity70.3
## australia
--> bangsaen70.3
--> barcelona
--> barcelona70.3
## bariloche70.3
--> bintan70.3
--> boulder
--> boulder70.3
--> buenosaires70.3
## buffalosprings70.3
## busselton70.3
## cairns
## cairns70.3
--> california70.3
--> challengeroth
--> colombo70.3
## costarica70.3
--> davao70.3
--> dubai70.3
--> durban70.3
--> eagleman70.3
## ecuador70.3
--> edinburgh70.3
--> emiliaromagna
## florida
--> florida70.3
--> france
--> france70.3
--> germany
## gulfcoast70.3
## haugesund
## Haugesund70.3
## honu70.3
--> IMsubicbay
--> indianwellslaquinta70.3
--> italy70.3
--> japan70.3
## kalmar
--> korea
--> kraichgau70.3
--> lonestar70.3
--> longhorn70.3
## loscabos
## loscabos70.3
--> luxembourg70.3
--> Maastricht
--> maine70.3
--> marbella70.3
--> maryland
--> miami70.3
--> monterrey70.3
--> muncie70.3
## newzealand
## newzealand70.3
--> Nice70.3
--> ohio70.3
## otepaa70.3
--> philippines70.3
## portmacquarie70.3
## pucon70.3
--> pula70.3
--> raleigh70.3
--> riodejaneiro70.3
--> salzburg70.3
## sanjuan70.3
--> santacruz70.3
--> santarosa
--> santarosa70.3
--> shanghai70.3
--> slovenianistria70.3
## st.george
--> staffordshire70.3
--> steelhead70.3
## stgeorge70.3
--> subicbay70.3
--> sunshinecoast70.3
--> superfrog70.3
--> switzerland
--> switzerland70.3
--> taiwan
--> taiwan70.3
## taupo70.3
--> texas
--> uk
--> vichy
--> vichy70.3
--> waco70.3
--> wales
## westernaustralia
## westernaustralia70.3
--> weymouth70.3
--> wisconsin
--> wisconsin70.3
## worldchampionship